* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto Mono', monospace;
}
.app {
  width: 100%;
}
.task {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}
.task_header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}
.task_header_title {
  font-size: 50px;
}
.task_add {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}
.task_add-btn {
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.task_add-input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 20px 20px 20px 18px;
  opacity: 0.5;
}
.task_add-input:focus {
  opacity: 1;
}
.task_list {
}
.task_list-item {
  display: flex;
  justify-content: space-between;
  padding-left: 23px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.task_list-item:hover {
  background-color: #eee;
}
.task_list-item.task-done .task_list-item_text {
  text-decoration: line-through;
  opacity: 0.4;
}
.task_list-item_action {
  display: flex;
}
.task_list-item_text {
  cursor: pointer;
  font-size: 20px;
  padding: 4px 6px;
  font-weight: 700;
  width: 100%;
}
.task_list-item_close {
  color: red;
  font-size: 30px;
  cursor: pointer;
}
.task_list-item_edit {
  color: #0058ce;
  font-size: 30px;
  cursor: pointer;
  margin-right: 2px;
}
